html
  head
    title='Hello World!!! @_neoXsys_'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hi, 
        p This is neoXsys. Click below button to visit me.
        p 
          a.btn.btn-primary(href="http://www.hardik.in") Make Me Proud
        p